
.a_tbdr{
  width: 980px;
  background: #0D7962;
  margin: auto;
  margin-top: 10px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  
 
}

header{
  height: 140px;
  line-height: 140px;
}
main{
  width: 980px;
  height: 450px;
  margin: auto;
  margin-top: 10px;
}
aside{
  float: left;
  width: 270px;
  background: #0D7962;
  height: 100%;
  color: #fff;
  line-height: 450px;
  font-size: 40px;
  text-align: center;
}
section{
 margin-left: 10px;
  float: left;
  width: 700px;
  background: #0D7962;
  height: 100%;
  color: #fff;
  line-height: 70px;
  line-height: 450px;
  font-size: 40px;
  text-align: center;
}
footer{

  line-height: 70px;
  height: 70px;
 
}